body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.ctn{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    margin: 30px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;;
}
.box{
    width: 30px;
    height: 30px;
    border-top: 1px solid black;
    border-right:1px solid black;
    margin: 0;
}
.shipBox{
    background-color: gray;
}
.shipHitBox{
    background-color: #FF6262;
}
.shipSunkBox{
    background-color: red;
}
.aroundShipHitBox, .emptyBox{
    background-color: #ff0;
}
.gray-board{
    opacity: 0.5;
}

#display-none-div{
 display: none;
}
.change-ship-position-div{
    position: absolute;
    background-color: white;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.change-ship-position-div h1{
    margin: 10px;
}
.greenHover{
    background-color: green;
}
.active{
    color: white;
    background-color: black;
}
.red{
    color: red;
}
.explain-box{
    position: absolute;
    background-color: white;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.p-box{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.exit-explain{
    margin: 10px;
}
button {
    background-color: white; 
    color: black; 
    
    border: none;
    text-align: center;
    padding: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 3px;
  }
button:hover {
    background-color: gray;
    color: white;
    border: none;
  }
.link{
    margin-bottom: 4%;
}
.save-cancel-buttons{
    margin-bottom: 5%;
}
.random-manual-button{
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}
.random-manual-button button{
    margin-left: 10px;
}
.change-ship-position-div button{
    border: none;
}
.change-ship-position-div button:hover{
    background-color: gray;
    color: white;
}
a{
    text-decoration: none;
    color: #944d4d;
}
.footer{
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}